<div data-id="uploadBar" class="webswing-fileDialogBar">
	<div class="container-fluid">
		<div class="webswing-fileDialogButtonRow row ">
			<div data-id="fileDropArea" class="webswing-hidden">
				<p class="upload-dropH1">Drag and drop files here</p>
			</div>
		</div>
		<div class="webswing-fileDialogButtonRow row ">
            <div class="col-xs-4 webswing-hidden" data-id="fileDownloadBtn">
				<button class="btn btn-success btn-sm btn-block" data-id="downloadSelectedButton">Download selected</button>
			</div>
			<div class="col-xs-4 webswing-hidden" data-id="fileUploadBtn">
				<form data-id="fileupload">
					<input data-id="fileDialogTransferBarClientId" name="clinetId" type="hidden">
					<div class="webswing-fileUpload btn btn-success btn-sm btn-block">
						<span>Upload files</span> <input accept="" data-id="fileInput" name="files[]" class="upload" type="file">
					</div>
				</form>
			</div>
            <div class="col-xs-4 webswing-hidden" data-id="fileDeleteBtn">
				<!-- Single button -->
				<button class="btn btn-success btn-sm btn-block" data-id="deleteSelectedButton">Delete selected</button>
			</div>
            
            <div class="col-xs-4">
				<div data-id="cancelBtn" class="btn btn-danger btn-sm btn-block">
					<span> Cancel</span>
				</div>
			</div>
            
            
		</div>
		<div data-id="fileDialogTransferProgressBar" class="webswing-fileDialogButtonRow row" class="webswing-hidden">
			<div style="padding-right: 0px;" class="col-xs-8">
				<div data-id="progress" class="progress webswing-progress">
					<div style="width: 0%;" class="progress-bar progress-bar-success"></div>
				</div>
			</div>
		</div>
		<div data-id="fileDialogErrorMessage" class="webswing-fileDialogButtonRow row webswing-hidden">
			<div class="col-md-12">
				<div data-id="fileDialogErrorMessageContent" class="alert alert-danger"></div>
			</div>
		</div>
	</div>
</div>
