body {
    padding-top: 50px;
    margin-top: 5px;
}

.dir {
    background-color: #F3E2A9; /*#bdb76b;*/
    line-height:30px;
    padding-left: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.file {
    line-height:30px;
    background-color:#eeeeee;
    padding-left: 10px;
    margin-bottom: 2px;	  
}

.file a:hover {
    color: #E0C266;
    text-decoration: none;
    cursor: pointer;
}


#path {
    line-height:30px;
    background-color:#eeeeee;
    padding-left: 10px;
    margin-bottom: 2px;	  
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}